html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// ............................................................

.mainContainer{
	width: 100%;
	.cartIconContainer{
		width: 100%;
		text-align: right;
		position: relative;
		img{
			width: 6%;
			cursor: pointer;
		}
		.counterIcon{
			width: 17px;
			height: 15px;
			// background-color: yellow;
			background-color: rgb(112, 112, 20);
			color: white;
			font-size: 12px;
			text-align: center;
			position: absolute;
			right: 8px;
			bottom: 11px;
			border-radius: 8px;
			padding-top: 5px;
			cursor: pointer;
			font-weight: 900;
		}
	}
	.allItemsContainer{
		display: flex;
		width: 100%;
		justify-content: space-around;
		margin-top: 10px;
		.itemsAndOrderDropdownContainer{
			width: 82%;
			padding: 30px;
			.orderDropdownContainer{
				width: 100%;
				display: flex;
				justify-content: space-between;
				.dropdownContainer{
					width: 27%;
					display: flex;
					justify-content: space-between;
				}
			}
			.itemsCardContainer{
				width: 100%;
				padding: 10px;
			}
		}
	}
}