html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// .........................................................................
.mainCardContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .cardContainer{
        width: 24%;
        cursor: pointer;
        margin: 30px 0 20px 0;
        &:hover{
            border: 1px solid rgb(170, 162, 162);
        }
        .freeShippingContainer{
            text-align: right;
            width: 100%;    
            position: sticky;     
            .freeShipping{
                width: 36%;
                font-size: 11.5px;
                background-color: black;
                color: white;
                padding: 4px 10px 4px 5px;
                position: absolute;
                right: 0;
            }
        }
        .imageContainer{
            margin: 17px 0 15px 0;
            img{
                width: 100%;
            }
        }
        .productDetailContainer{
            .productTitle{
                height: 40px;
                text-align: center;
                width: 92%;
                font-size: 20px;
                font-weight: 500;
                padding: 10px;
            }
            .orangeBorder{
                width: 20%;
                margin: 0 auto;
                height: 2px;
                background-color: orange;
            }
            .priceContainer{
                text-align: center;
                margin: 15px;
                .dollarSign{
                    font-size: 16px;
                    font-weight: 700;
                    margin-right: 5px;
                }
                .price{
                    font-size: 20px;
                    font-weight: 900;
                }
            }
        }
        .addToCartContainer{
            text-align: center;
            padding: 15px;
            font-size: 20px;
            font-weight: 550;
            background: black;
            margin: 0 7px 20px 7px;
            a{
              text-decoration: none;
              color: white;
            }
            &:hover{
                background: #e6bd08;
            }
          }
    }
}