.mainCartContainer{
    width: 51%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    .cartLeftContainer{
        width: 9%;
        height: 50px;
        background: black;
        cursor: pointer;
        .closeCartButton{
            color: white;
            font-size: 20px;
            font-weight: 900;
            text-align: center;
            margin-top: 15px;
        }
    }
    .cartRightContainer{
        width: 91%;
        height: 100%;
        background: black; 
        .cartHeaderContainer{
            text-align: center;
            // display: flex;
            // justify-content: space-between;
            h2{
                color: white;
                font-size: 22px;
                font-weight: 900;
                margin-top: 38px;
            }
            .cartCounterIcon{
                width: 17px;
                height: 15px;
                background-color: rgb(112, 112, 20);
                color: white;
                font-size: 12px;
                text-align: center;
                position: absolute;
                right: 8px;
                top: 20px;
                border-radius: 8px;
                padding-top: 5px;
                cursor: pointer;
                font-weight: 900;
            }
        }
        .cartItemsContainer{
            display: flex;
            color: white;
            justify-content: space-between;
            padding: 10px;
            .cartImageContainer{
                width: 75%;
                display: flex;
                justify-content: space-between;
                .imageThumbnail{
                    width: 20%;
                    img{
                        width: 100%;
                    }
                }
                .cartItemTitle{
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding-bottom: 15px;
                    h5{
                        font-size: 20px;
                        font-weight: 900;
                    }
                }
            }
            .cartPriceContainer{
                width: 25%;
                text-align: center;
            }
        }
    }
}